
.Tables{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
}

@media screen and (max-width : 1000px) {
    .Tables{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width : 500px) {
    .Tables{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, auto);
    }
}


